@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-gray-50);
  color: var(--color-gray-800);
  line-height: 1.5;
}

button {
  font-family: inherit;
}

input,
textarea,
select {
  font-family: inherit;
}
