.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-weight: var(--font-weight-medium);
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  text-transform: uppercase;
}

.icon {
  width: 60%;
  height: 60%;
  opacity: 0.8;
}

/* Sizes */
.xs {
  width: 24px;
  height: 24px;
  font-size: 10px;
}

.sm {
  width: 32px;
  height: 32px;
  font-size: var(--font-size-xs);
}

.md {
  width: 40px;
  height: 40px;
  font-size: var(--font-size-sm);
}

.lg {
  width: 48px;
  height: 48px;
  font-size: var(--font-size-md);
}

.xl {
  width: 64px;
  height: 64px;
  font-size: var(--font-size-lg);
}

.\32xl {
  width: 96px;
  height: 96px;
  font-size: var(--font-size-2xl);
}

/* Avatar Group */
.avatarGroup {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.avatarGroup > .avatar {
  border: 2px solid white;
  margin-left: -8px;
}

.avatarGroup > .avatar:last-child {
  margin-left: 0;
}

.excess {
  background-color: var(--color-gray-300);
  color: var(--color-gray-700);
  font-size: var(--font-size-xs);
}
