.avatarBadge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transform: translate(25%, 25%);
  z-index: 10;
  box-sizing: border-box;
}
