.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  line-height: 1em;
}

.sizeXs {
  width: 12px;
  height: 12px;
}

.sizeSm {
  width: 16px;
  height: 16px;
}

.sizeMd {
  width: 20px;
  height: 20px;
}

.sizeLg {
  width: 24px;
  height: 24px;
}

.sizeXl {
  width: 32px;
  height: 32px;
}

.size2xl {
  width: 40px;
  height: 40px;
}
