.inputRightElement {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--spacing) * 10);
  color: var(--color-gray-500);
  z-index: 1;
}

.pointerEventsNone {
  pointer-events: none;
}
