.stat {
  display: flex;
  flex-direction: column;
  position: relative;
}

.statLabel {
  font-size: 0.875rem;
  color: var(--color-gray-600);
  line-height: 1.5;
}

.statNumber {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.33;
}

.statHelpText {
  font-size: 0.875rem;
  color: var(--color-gray-600);
  display: flex;
  align-items: center;
  gap: 4px;
}

.statArrow {
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
}

.increase {
  color: var(--color-green-500);
}

.decrease {
  color: var(--color-red-500);
}
